<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
     <meta name="viewport" content="width=device-width , initial-scale=1.0">
    <title>Covid India Live Stats</title>
    <link href="https://fonts.googleapis.com/css?family=Sen&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body>
        <h1>Hello Infected World!</h1>
<p>In these times of heavy restrictions and quarantine all around,let us stay at home and fulfil our childhood dream to serve the nation,merely by accomplishing a simple task - <a target="_blank"href="https://twitter.com/hashtag/stayhome?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Ehashtag">#StayHome</a>.</p>
<h3 style="text-align:center;">Current Indian Stats</h3>
<div class="row" style="margin-right:-0";>
<!-- Card 1 -->
<div class="col-lg-2"></div>
<!-- Card 1 -->
<div class="col-lg-4 col-md-6 col-sm-12">
<div class="card" style="text-align:center;width:18rem;">
<img class="card-img-top" src="/images/active_patient.svg" alt="Card image cap" style="background-color:#B3D9FE;">
<div class="card-body">
<h5 class="card-title">Active Covid 19 Cases</h5>
<p class="card-text"><%= value[0] %></p>
</div>
</div>
</div>


<!-- Card 2 -->
<div class="col-lg-4 col-md-12 col-sm-12">
<div class="card" style="text-align:center;width:18rem;">
<img class="card-img-top" src="/images/cured.svg" alt="Card image cap" style="background-color:#BAF18B;">
<div class="card-body">
<h5 class="card-title">Cured/Discharged Cases</h5>
<p class="card-text"><%= value[1] %></p>
</div>
</div>
</div>
</div>

<div class="row" style="margin-right:0";>
  <div class="col-lg-2"></div>
<!-- Card 3 -->
<div class="col-lg-4 col-md-6 col-sm-12">
<div class="card" style="text-align:center;width:18rem;">
<img class="card-img-top" src="/images/death.svg" alt="Card image cap" style="background-color:#FE908F;">
<div class="card-body">
<h5 class="card-title">DeathCases</h5>
<p class="card-text"><%= value[2] %></p>
</div>
</div>
</div>
<br>
  <!-- <div class="col-lg-2"></div> -->
<!-- Card 4 -->
<div class="col-lg-4 col-md-6 col-sm-12">
<div class="card" style="text-align:center;width:18rem;">
<img class="card-img-top" src="/images/migrated_icon.svg" alt="Card image cap" style="background-color:#F9BA75;">
<div class="card-body">
<h5 class="card-title">Migrated Covid-19 Patient</h5>
<p class="card-text"><%= value[3] %></p>
</div>
</div>
</div>
</div>

<!-- AQI -->
<div class="card">
  <div class="card-header" style="text-align: center;">
    Hi,in this section I aim to keep a close eye on the AQI of the capital of India,<b>Delhi</b>
  </div>
  <div class="card-body" style="display:flex;justify-content: center;">
    <blockquote class="blockquote mb-0">
      <p>AQI</p>
      <div style = "background-color: 
      <% if(aqi>=0 && aqi<=50) { %>
   #009966
    <% }else if(aqi>51 && aqi<=100){ %>
       #FFDE33
    <% }else if(aqi>100 && aqi<=150){ %>
      #FF9933
    <% }else if(aqi>150 && aqi< 200){ %>
      #CC0033
    <% }else if(aqi>200 && aqi<=300){ %>
      #660099
    <% }else{ %>
      #7E0023
   <% }%>
   ";>
      <footer style="text-align: center;"><%=aqi%>(<%=condition%>)</footer>
    </div>
    </blockquote>
  </div>
</div>




<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
