<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Covid India Live Stats</title>
  </head>
  <body>

    <h1>Hello Infected World!</h1>
    <h2>Passengers Screened at airport:<%= value[0] %></h2>
    <h2>Active Covid 19 Cases:<%= value[1] %></h2>
    <h2>Cured/Discharged Cases:<%= value[2] %></h2>
    <h2>DeathCases:<%= value[3] %></h2>
    <h2>Migrated Covid-19 Patient:<%= value[4] %></h2>

  </body>
</html>
